* {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #160052;
    color: #c2c2c2
}
a {
    text-decoration: none;
}
.block > * {
    display: block;
    margin-top: 1rem;
}
footer {
    margin-top: 10vh;
}
.bold {
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(167, 170, 0);
}

p {
    margin-left: 10vw;
    margin-right: 10vw;
}

section.links {
    position: relative;
    margin: 4% 0;
    margin-left: 10vw;
    margin-right: 10vw;
    border: #333;
    border-style: groove;
    border-radius: 0.5rem;
  }
  
    .links h2 {
        position: absolute;
        top: -1.5em;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        margin-bottom: 2%;
        padding: 0.5em 1em;
        border-radius: 0.5em;
    }
    
    .inset {
        padding: 2%;
        border-radius: 1rem;
    }
    
    .inset p {
        font-style: italic;
        margin-bottom: 2%;
    }
    
    .inset ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .inset a {
        display: block;
        padding: 1% 0;
        font-weight: bold;
        color: #333;
        text-decoration: none;
    }
    
    .inset a:hover {
        color: #0099ff;
    }